HomeWork11/HomeWork11WcfClient/HomeWork7/Connected Services/OrdersServiceReference/OrdersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeWork11WcfService.DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeWork11WcfService.DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDataModel" nillable="true" type="tns:OrderDataModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDataModel" nillable="true" type="tns:ArrayOfOrderDataModel" />
  <xs:complexType name="OrderDataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDataModel" nillable="true" type="tns:OrderDataModel" />
</xs:schema>