HomeWork11/HomeWork11WcfClient/HomeWork7/Connected Services/OrdersServiceReference/OrdersService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56376/OrdersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeWork11WcfService.DataModels" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HomeWork11WcfService.DataModels" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:ArrayOfOrderDataModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>