JC_Homework11/JC_HomeWork11_client/JC_HomeWork11_client/Connected Services/ServiceHomeWork/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65246/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JC_HomeWork11.DataObjects" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JC_HomeWork11.DataObjects" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:ArrayOfOrderDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>